input {
  text-align: center;
  width: auto;
}

#addParty {
  display: flex;
  flex-direction: row;
}

#addParty input {
  margin: 0.5rem;
}

.party-container {
    display: flex 4 1;
    text-align: center;
    margin: 2rem 0 rem;
}

.party-container button {
    margin: 1rem 0 0 0;
    width: 8rem;
}


html {
  display: flex;
  margin: 0;
  padding: 0;
}

h2 {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: grey;
  color: white;
  text-shadow: 2px 2px 2px black;
  margin: 2rem 3rem;
  height: 3rem;
  width: auto;
  border-radius: 5px;
  
}
